<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.capsule.android"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".MyApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.GreenDroid.NoTitleBar" >
       
        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AgreementActivity" />
		<activity android:name=".BottomTabActivity" android:windowSoftInputMode="adjustPan"/>
		<activity android:name=".CapSuleMapActivity" />
        <activity android:name=".CardSettingActivity"/>
        <activity android:name=".FindWaysActivity" />
        <activity android:name=".FriendActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MessageActivity" />
        <activity android:name=".NamecardActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".SearchContactActivity"/>
        <activity android:name=".SearchFriendActivity"/>
        <activity android:name=".SettingActivity"/>
        <activity android:name=".UserInfoActivity"/>
        
        <service android:name=".service.LocationService" />
  
        
    </application>

</manifest>